<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NeonDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADF2981F1F3FB0D500DE8767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF298391F3FB0D500DE8767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF298441F3FB0D500DE8767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
